mixin Slide(name, url)
  -
    var xl = 1200
    var lg = 992
    var md = 768
    var sm = 544
  div.swiper-slide
    a(href=url)
      picture.slideContent
        source.slideContent__image(
          srcset=require(`assets/images/${name}_${xl}.jpg`)
          media=`(min-width: ${xl}px)`
        )
        source.slideContent__image(
          srcset=require(`assets/images/${name}_${lg}.jpg`)
          media=`(min-width: ${lg}px)`
        )
        source.slideContent__image(
          srcset=require(`assets/images/${name}_${md}.jpg`)
          media=`(min-width: ${md}px)`
        )
        source.slideContent__image(
          srcset=require(`assets/images/${name}_${sm}.jpg`)
          media=`(min-width: ${sm}px)`
        )
        img.slideContent__image(
          srcset=require(`assets/images/${name}_${md}.jpg`)
          alt="Product"
        )
